import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Przewodnik dla gości" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Dodatkowe style dla płynnych animacji */
      @keyframes fade-in { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
      .animate-fade-in { animation: fade-in 0.5s ease-out forwards; }
    </style>
	</head>
	<body class="bg-gray-100 min-h-screen font-sans">
		<slot />
    <ViewTransitions />
	</body>
</html>
